<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.showshortcuts.internal.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.showshortcuts.internal.ShortcutPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.showshortcuts.internal.ShortcutPreferencePage"
            id="org.showshortcuts.preferencePage"
            name="%prefPage_xgrp">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="org.showshortcuts"
            label="%traceComponent_xgrp">
         <bundle
               name="org.showshortcuts">
         </bundle>
      </component>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.showshortcuts.theme"
            label="%themeCategory_xgrp">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.showshortcuts.theme"
            id="org.showshortcuts.popup.foregroundColor"
            label="%colorDefinition.popupForegroundColor_xtnd"
            value="COLOR_BLACK">
         <description>
            %colorDefinition.popupForegroundColor_xmsg
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.showshortcuts.theme"
            id="org.showshortcuts.popup.backgroundColor"
            label="%colorDefinition.popupBackgroundColor_xtnd"
            value="255,255,128">
         <description>
            %colorDefinition.popupBackgroundColor_xmsg
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.showshortcuts.theme"
            defaultsTo="org.eclipse.jface.dialogfont"
            id="org.showshortcuts.popup.font"
            label="%fontDefinition.popupFont_xtnd">
         <description>
            %fontDefinition.popupFont_xmsg
         </description>
      </fontDefinition>
   </extension>

</plugin>
